<!DOCTYPE html>
<html>
	<head>
		<title>404</title>
	</head>
	<body>
		<%- include('header') %> 
		<h1 style="text-align: center;">Error 404: File not found</h1>
		<%- include('footer') %> 
	</body>
</html>