<link rel="stylesheet" href="navigation">
<link rel="stylesheet" href="header">
<header class="header">
	<section id="left-section">
	  <img id="header_logo" src="TravelExperts" alt="travel experts logo" width="100" height="45" />
	</section>
	<section id="mid-section"><h1 id="header_title" style="text-align: center;">Travel Experts</h1></section>
	<section id="right-section"></section>
</header>
<nav class="navigation">
	<div class="navigation-directories">
	  <div class="navigate">
		<a href="/home">Home</a>
	  </div>
	  <div class="navigate">
		<a href="/vacationpackages">Vacation Packages</a>
	  </div>
	  <div class="navigate">
		<a href="/register">Register</a>
	  </div>
	  <div class="navigate">
		<a href="/contactus">Contact</a>
	  </div>
	</div>
  </nav>
