<!DOCTYPE html>
<html>
	<head>
		<title>Thanks</title>
		<link rel="stylesheet" href="registerform">
	</head>
	<body>
		<%- include('header') %> 
		<h1>Thanks for contacting us!</br> We will get in touch with you ASAP!</h1>
		<%- include('footer') %> 
	</body>
</html>